{% extends 'basefront.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}

   
    <div class="container col-4 mt-5 text-center">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <h3 class="card-title text-center">{{ ressource.nomRessource }}</h3>
                <h6 class="card-subtitle text-muted text-center">{{ ressource.typeRessource }}</h6>
                <hr>
                <p class="card-text">
                    <strong>ID:</strong> {{ ressource.id }}<br>
                    <strong>Quantité:</strong> {{ ressource.quantiteRessource }} {{ ressource.uniteMesure }}<br>
                    <strong>Date d'ajout:</strong> {{ ressource.dateAjoutRessource ? ressource.dateAjoutRessource|date('Y-m-d') : 'N/A' }}<br>
                    <strong>Date d'expiration:</strong> {{ ressource.dateExpirationRessource ? ressource.dateExpirationRessource|date('Y-m-d') : 'N/A' }}<br>
                    <strong>Statut:</strong> {{ ressource.statutRessource }}
                </p>
                <div class="">
                     <a href="{{ path('app_ressource_edit', {'id': ressource.id}) }}" class="btn btn-warning">Modifier</a>
                </div>
                <div class="mt-3">
 
<a class="btn btn-danger" href="{{ path('app_ressource_delete', {'id': ressource.id}) }}">delete</a>
                </div>
            </div>
        </div>
    </div>
   
{% endblock %}
