{% extends 'base.html.twig' %}

{% block body %}
    {# Page Header Section #}
    <div class="page-header">
        <h3 class="page-title">Modifier plante</h3>
        <div class="header-actions"></div>
    </div>

    {# Breadcrumb Navigation #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">plantes</li>
        </ol>
    </nav>

    {# Main Form Section #}
         <div class="container-fluid py-5">
            <div class="container py-5">
                {{ form_start(AddPlante, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row g-5">
                    <div class="col-md-12 col-lg-12 col-xl-13">
                        <!-- Nom de la plante -->
                        <div class="form-item">
                            <label class="form-label my-3" for="plante_nom_plante">Nom de la plante <sup>*</sup></label>
                            {{ form_widget( AddPlante.nom_plante, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors( AddPlante.nom_plante) }}
                        </div>
        
                        <!-- Superficie -->
                        <div class="form-item">
                            <label class="form-label my-3" for="plante_superficie">Superficie <sup>*</sup></label>
                            {{ form_widget( AddPlante.date_plantation, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors( AddPlante.date_plantation) }}
                        </div>
        
                        <!-- Plante -->
                        <div class="form-item">
                            <label class="form-label my-3" for="plante_plante">Plante <sup>*</sup></label>
                            {{ form_widget( AddPlante.rendement_estime, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors( AddPlante.rendement_estime) }}
                        </div>
                    </div>
                    <div class="row g-4 pt-4 text-end">
                        <div class="col">
                            <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase text-primary w-auto">Valider</button>
                        </div>
                    </div>
                </div>
                {{ form_end( AddPlante) }}
            </div>
        </div>

{% endblock %}
