{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center w-100">
                <h1 class="mb-4">Mettre à Jour la Ressource</h1>
            </div>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="row g-5">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <!-- Nom de la Ressource -->
                    <div class="form-item">
                        <label class="form-label my-3" for="nom_ressource">Nom de la Ressource <sup>*</sup></label>
                        {{ form_widget(form.nom_ressource, {'attr': {'class': 'form-control', 'placeholder': 'Entrez le nom de la ressource'}}) }}
                        {{ form_errors(form.nom_ressource) }}
                    </div>

                    <div class="row g-4 pt-4">
                        <!-- Type de Ressource -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="type_ressource">Type de Ressource <sup>*</sup></label>
                                {{ form_widget(form.type_ressource, {'attr': {'class': 'form-select', 'placeholder': 'Sélectionnez le type de ressource'}}) }}
                                {{ form_errors(form.type_ressource) }}
                            </div>
                        </div>

                        <!-- Quantité de la Ressource -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="quantite_ressource">Quantité <sup>*</sup></label>
                                {{ form_widget(form.quantite_ressource, {'attr': {'class': 'form-control', 'placeholder': 'Entrez la quantité'}}) }}
                                {{ form_errors(form.quantite_ressource) }}
                            </div>
                        </div>
                    </div>

                    <div class="row g-4 pt-4">
                        <!-- Unité de Mesure -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="unite_mesure">Unité de Mesure <sup>*</sup></label>
                                {{ form_widget(form.unite_mesure, {'attr': {'class': 'form-select', 'placeholder': 'Sélectionnez l\'unité de mesure'}}) }}
                                {{ form_errors(form.unite_mesure) }}
                            </div>
                        </div>

                        <!-- Date d'Ajout -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="date_ajout_ressource">Date d'Ajout <sup>*</sup></label>
                                {{ form_widget(form.date_ajout_ressource, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez la date d\'ajout'}}) }}
                                {{ form_errors(form.date_ajout_ressource) }}
                            </div>
                        </div>
                    </div>

                    <div class="row g-4 pt-4">
                        <!-- Date d'Expiration -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="date_expiration_ressource">Date d'Expiration <sup>*</sup></label>
                                {{ form_widget(form.date_expiration_ressource, {'attr': {'class': 'form-control', 'placeholder': 'Sélectionnez la date d\'expiration'}}) }}
                                {{ form_errors(form.date_expiration_ressource) }}
                            </div>
                        </div>

                        <!-- Statut de la Ressource -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="statut_ressource">Statut <sup>*</sup></label>
                                {{ form_widget(form.statut_ressource, {'attr': {'class': 'form-select', 'placeholder': 'Sélectionnez le statut de la ressource'}}) }}
                                {{ form_errors(form.statut_ressource) }}
                            </div>
                        </div>
                    </div>

                    <div class="row g-4 pt-4">
                        <!-- Dépôt -->
                        <div class="col-md-6">
                            <div class="form-item">
                                <label class="form-label my-3" for="depot">Dépôt <sup>*</sup></label>
                                {{ form_widget(form.depot, {'attr': {'class': 'form-select', 'placeholder': 'Sélectionnez le dépôt'}}) }}
                                {{ form_errors(form.depot) }}
                            </div>
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <div class="row g-4 pt-4">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary py-3 px-4 text-uppercase w-100" id="valider-button">
                                Mettre à jour
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
