{% extends 'base.html.twig' %}

{% block body %}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Ajouter une Nouvelle Ressource</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Création</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ressource</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              {{ form_start(form) }}
              {{ form_row(form.nom_ressource) }}
              {{ form_row(form.type_ressource) }}
              {{ form_row(form.quantite_ressource) }}
              {{ form_row(form.unite_mesure) }}
              {{ form_row(form.date_ajout_ressource) }}
              {{ form_row(form.date_expiration_ressource) }}
              {{ form_row(form.statut_ressource) }}
              {{ form_row(form.depot) }}
              <button type="submit" class="btn btn-primary">Ajouter la Ressource</button>
              {{ form_end(form) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
