{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">Mettre à jour l'utilisateur</h3>
                
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Mettre à jour</a></li>
                        <li class="breadcrumb-item active" aria-current="page"></li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(frole) }}
                                {{ form_widget(frole) }}
                                <button type="submit" class="btn btn-primary">Mise à jour</button>
                            {{ form_end(frole) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     {% for message in app.flashes('successrole') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('errorrole') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{% endblock %}