{% extends 'basefront.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}

 <!-- Single Page Header start -->
    <div class="container-fluid page-header-zone py-5">
        <h1 class="text-center text-white display-6">Gestion des categories</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">categorie</li>
        </ol>
    </div>
    <!-- Single Page Header End -->
    <h1 class="text-center text-black display-6">Categorie</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Nom_categorie</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Description_categorie</th>
                <td>{{ categorie.descriptionCategorie }}</td>
            </tr>
            <tr>
                <th> saisonDeRecolte</th>
                <td>{{ categorie.saisonDeRecolte}}</td>
            </tr>
             <tr>
                <th> temperatureIdele</th>
                <td>{{ categorie. temperatureIdeale}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_front_index') }}" class="btn btn-success">back to list</a>

    <a href="{{ path('app_categorie_front_edit', {'nom_categorie': categorie.nomCategorie}) }}" class="btn btn-success">edit</a>
     <a href="{{ path('app_categorie_front_delete',{'nom_categorie': categorie.nomCategorie}) }}"  class="btn btn-success">delete</a>
   
{% endblock %}
